.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(148, 148, 148);
    padding: 2px 16px;
    color: aliceblue;
    border-radius: 15px;
    margin-top: 2%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 80vw; /* Görüntü alanı genişliği */
    box-sizing: border-box; /* Padding ve border genişliği hesaplamasına dahil */
}

.nav-left {
    display: flex;
    align-items: center; /* İçerideki yazıyı dikeyde ortalamak için */
}

.nav-name{
    color: black;
    font-weight:bold;
    font-size: 16px;

}

.nav-right {
    display: flex;
    gap: 20px; /* Elemanlar arasında boşluk bırakmak için */
    align-items: center; /* İçerideki yazıyı dikeyde ortalamak için */
    color: black;
}

.navbar-image{
    border-radius: 100px;
    border: solid gray 2px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;

}
